<!DOCTYPE html>
<html class="no-js" lang="en-US" dir="ltr" itemscope itemtype="http://schema.org/Thing" xmlns:og="http://ogp.me/ns#">
	<!--<![endif]-->
	<head>
		<%= stylesheet_inline "core-style" %>

		<!--[if lt IE 9]>
			<%= javascript_include_tag "html5shiv" %>
		<![endif]-->
	</head>
	<body>
		<div style="width: 1000px; margin: 0 auto">
		<%= yield %>
		</div>
		<%= stylesheet_link_tag "style" %>
	</body>
</html>
