<section class="weiss-form__set weiss-form__set_main weiss-form__set_paper">
	<h2 class="weiss-form__set-legend weiss-form__set-legend_main">
		<span>Розділ I. Загальні відомості</span>
	</h2>

	<p class="l-weiss-form__row">
		<span class="l-weiss-form__item weiss-form__label">
			<strong>1.</strong>
		</span>
		<span class="l-weiss-form__item l-weiss-form__item_lined">
			<label  class="i-wai">Прізвище</label>
			{{ declaration.general.last_name }}
		</span>
		<span class="l-weiss-form__item l-weiss-form__item_lined">
			<label  class="i-wai">Ім’я</label>
			{{ declaration.general.name }}
		</span>
		<span class="l-weiss-form__item l-weiss-form__item_lined">
			<label  class="i-wai">По-батькові</label>
			{{ declaration.general.patronymic }}
		</span>
	</p>

	<p class="l-weiss-form__row">
		<span class="l-weiss-form__item weiss-form__label">
			<strong>2. Місце проживання:</strong>
		</span>
		{% for address in declaration.general.addresses %}
		<span class="l-weiss-form__item">
			<span class="l-weiss-form__item l-weiss-form__item_lined">
				<span  class="i-wai">Область</span>
				{{ address.place }}
			</span>
			<span class="l-weiss-form__item l-weiss-form__item_lined">
				<span  class="i-wai">Район</span>
				{{ address.place_district }}
			</span>
			<span class="l-weiss-form__item l-weiss-form__item_lined">
				<span  class="i-wai">Населений пункт</span>
				{{ address.place_city }}
			</span>
			<span class="l-weiss-form__item l-weiss-form__item_lined">
				<span  class="i-wai">Тип населенного пункту</span>
				{{ address.place_city_type }}
			</span>
			<span class="l-weiss-form__item l-weiss-form__item_lined">
				<span  class="i-wai">Решта адреси</span>
				{{ address.place_address }}
			</span>
			<span class="l-weiss-form__item l-weiss-form__item_lined">
				<span  class="i-wai">Тип адреси</span>
				{{ address.place_address_type }}
			</span>
		</span>
		{% endfor %}
		<span class="l-weiss-form__item">
			{{ declaration.general.addresses_raw }}
		</span>
	</p>
	<p class="l-weiss-form__row">
		<span class="l-weiss-form__item weiss-form__label">
			<strong>3. Посада:</strong>
		</span>
		<span class="l-weiss-form__item">
			<span class="l-weiss-form__item l-weiss-form__item_lined">
				<span  class="i-wai">Область</span>
				{{ declaration.general.post.region }}
			</span>
			<span class="l-weiss-form__item l-weiss-form__item_lined">
				<span  class="i-wai">Відомство</span>
				{{ declaration.general.post.office }}
			</span>
			<span class="l-weiss-form__item l-weiss-form__item_lined">
				<span  class="i-wai">Посада</span>
				{{ declaration.general.post.post }}
			</span>
		</span>
	</p>

	<div class="weiss-form__set">
		<div class="weiss-form__set-legend">
			<span>4. Члени сім’ї декларанта:</span>
		</div>
		<table class="weiss-table weiss-table_decl">
			<colgroup>
				<col width="200" />
				<col />
			</colgroup>
			<thead>
				<tr>
					<th>
						Ступінь зв’язку
					</th>
					<th>
						Прізвище ініціали, дата народження
					</th>
				</tr>
			</thead>
			<tbody>
			{% for member in declaration.general.family %}
				<tr>
					<td>
						<div class="l-weiss-form__row">
							{{ member.relations }}{{ member.relations_other|default("") }}
						</div>
					</td>
					<td>
						<div class="l-weiss-form__row">
							{{ member.family_name|default("") }}
						</div>
					</td>
				</tr>
				{% else %}
				{% for member in parse_raw_family_string(declaration.general.family_raw) %}
					<tr>
						{% if "raw" in member %}
							<td colspan="2">
								<div class="l-weiss-form__row">
									{{ member.raw }}
								</div>
							</td>
						{% else %}
							<th class="weiss-table__cell_fwn">
								<div class="l-weiss-form__row">
									{{ member.relations }}{{ member.relations_other|default("") }}
								</div>
							</th>
							<td class="weiss-table__cell_tal">
								<div class="l-weiss-form__row">
									{{ member.family_name|default("") }}
								</div>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			{% endfor %}
			</tbody>
		</table>
	</div>
</section>