@import "weiss__config";
@import "weiss__mixins";

/* ============================================================================
		Main
============================================================================= */

/* @group Global sprite
  --------------------------------------------------------------------------- */
$icons-map: sprite-map("icons/*.png", $spacing: 30px, $layout: vertical);

.i-ico-extend {
  background: inline-sprite($icons-map);
  background-repeat: no-repeat;
}

.i-ico {
  @extend .i-ico-extend;
  display: inline-block;
  vertical-align: top;
}

@each $ico-name in
	hidden,
	unclear {
  .i-ico_#{$ico-name} {
    background-position: sprite-position($icons-map, ico-#{$ico-name});
  }
}

/* @end */

/* @group Declaration-head
  --------------------------------------------------------------------------- */

.declaration-head {
  font-family: $serif;
  font-size: $base-font-size;
  font-weight: normal;
  margin: 1em 0 2em;
  text-align: center;
}

.declaration-head__em {
  @include adjust-font-size-to($h3-font-size, 1.7);
  display: block;
  text-transform: uppercase;
}

/* @end */

/* @group Declaration body
  --------------------------------------------------------------------------- */

.declaration-body {
  @include adjust-leading-to(1);
  font-family: $baseFontFamily;
  font-size: $base-font-size;
}

/* @end */

/* @group data-notes
  --------------------------------------------------------------------------- */

.small-note {
  font: normal normal 13px/16px $sans;
  margin: 0;
  padding: 2px 4px;
  position: relative;
  text-align: left;
  color: #fff;
  border-radius: 3px;
  background-color: #fa3;

  &:before {
    width: 0;
    height: 0;
    position: absolute;
    top: -8px;
    left: 4px;
    content: "";
    border-width: 0 0 8px 8px;
    border-style: solid;
    border-color: transparent transparent #fa3 transparent;
  }
}

/* @end */

/* @group ui-autocomplete
  --------------------------------------------------------------------------- */

.ui-autocomplete {
  font: normal normal $base-font-size/$base-line-height $sans;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 999;
  list-style: none;
  background: #fff;
  box-shadow: 0 8px 30px -5px rgba(#000,.5);

  li {
    margin: 0;
    padding: 0 10px;
    cursor: default;
  }

  .ui-state-hover,
  .ui-widget-content .ui-state-hover,
  .ui-widget-header .ui-state-hover,
  .ui-state-focus,
  .ui-widget-content .ui-state-focus,
  .ui-widget-header .ui-state-focus {
    color: #fff;
    background-color: $accentColor;
  }
}


.ui-helper-hidden-accessible {
  @include i-hide_vis();
}

/* @end */

/* @group declaration-nav
  --------------------------------------------------------------------------- */

.declaration-nav {
  padding: 20px;
  text-align: right;
  background: #ffffe0;
}

/* @end */

/* @group progress-indicator
  --------------------------------------------------------------------------- */

.progress-indicator {
  display: block;
  margin: 0 0 20px;
  padding: 0;
  text-align: center;
}

.progress-indicator__step {
  @include transition();
  display: inline-block;
  overflow: hidden;
  width: 50px;
  height: 10px;
  vertical-align: middle;
  text-indent: -999px;
  background: #ccc;
}

.progress-indicator__step_inactive {
  cursor: pointer;
  background: #eee;

  &:hover {
    background: lighten($accentColor, 20%);
  }
}

.progress-indicator__step_cur {
  background: $accentColor;
}

/* @end */

// @group declaration-action
//------------------------------------------------------------------------------

.declaration-action {
  font-family: $sans;
  margin: 0 0 20px;
  padding: 20px 20px 10px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 4px;

  p {
    margin: 0 0 10px;
  }
}

.declaration-action_head {
  font-size: 1.4em;
  font-weight: bold;
}

// @end
