@import "weiss__config";
@import "weiss__mixins";

/* ============================================================================
		Main
============================================================================= */

/* @group Global sprite
  --------------------------------------------------------------------------- */

$icons-map: sprite-map("icons/*.png", $spacing: 30px, $layout: vertical);

.i-ico {
	background: $icons-map;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: top;
}

@each $ico-name in
	hidden,
	unclear
{
	.i-ico_#{$ico-name} {
		@include sprite($icons-map, ico-#{$ico-name}, true);
	}
}

//.i-ico_dimensions {
//	@include sprite($icons-map, ico-file-doc, true);
//}
//
//.i-ico_position {
//	//background-position: sprite-position($icons-map, ico-file-doc-hover);
//	background-position: sprite-position($icons-map, ico-file-doc-hover, 3px, -2px);
//}

/* @end */

/* @group Declaration-head
  --------------------------------------------------------------------------- */

.declaration-head {
	font-size: $base-font-size;
	font-family: $serif;
	text-align: center;
	margin: 1em 0 2em;
	font-weight: normal;
}

.declaration-head__em {
	display: block;
	text-transform: uppercase;
	@include adjust-font-size-to($h3-font-size, 1.7);
}

/* @end */

/* @group data-notes
  --------------------------------------------------------------------------- */

.small-note {
	position: relative;
	font: normal normal 13px/16px $sans;
	background-color: #fa3;
	color: #fff;
	margin: 0;
	padding: 2px 4px;
	text-align: left;
	border-radius: 3px;

	&:before {
		content: '';
		position: absolute;
		top: -8px;
		left: 4px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 8px 8px;
		border-color: transparent transparent #fa3 transparent;
	}
}

/* @end */

/* @group ui-autocomplete
  --------------------------------------------------------------------------- */

.ui-autocomplete {
	background: #fff;
	box-shadow: 0 8px 30px -5px rgba(#000,.5);
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	z-index: 999;
	font: normal normal $base-font-size/$base-line-height $sans;
	
	li {
		margin: 0;
		padding: 0 10px;
		cursor: default;

		&:hover {
			background-color: #729fcf;
			color: #fff;
		}
	}
}

.ui-helper-hidden-accessible {
	@include i-hide_vis();
}

/* @end */

/* @group declaration-nav
  --------------------------------------------------------------------------- */

.declaration-nav {
	background: #FFFFE0;
	padding: 20px;
	text-align: right;
}

/* @end */

/* @group progress-indicator
  --------------------------------------------------------------------------- */

.progress-indicator {
	display: block;
	margin: 0 0 20px;
	padding: 0;
	text-align: center;
}

.progress-indicator__step {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 10px;
	background: #ccc;
	overflow: hidden;
	text-indent: -999px;
	@include transition();
}

.progress-indicator__step_inactive {
	background: #eee;
	cursor: pointer;
	
	&:hover {
		background: lighten(#729fcf, 20%);
	}
}

.progress-indicator__step_cur {
	background: #729fcf;
}

/* @end */