/* @group Form Validation styles (example)
  --------------------------------------------------------------------------- */

.form__msg {

}

// msg types

.invalid {
	border: 1px solid #b33d5d !important;
}

// msg content

.form__msg {
	position: relative;

	p {
		margin: 0;
		font-size: 14px;
		line-height: 18px;
		position: absolute;
		bottom: 7px;
		z-index: 4;
		display: none;
		padding: 10px 14px;
		background: #b33d5d;
		color: #fff;
		box-shadow: 0 8px 30px -5px rgba(#000,.5);
		@include vendor(animation, fadeIn ease-out .5s);

		&:after {
			content: "";
			display: block;
			width: 0;
			height: 0;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top: 8px solid #b33d5d;
			position: absolute;
			bottom: -8px;
			left: 25px;
			z-index: 1;
		}
	}

}

@include keyframes(fadeIn) {
	from {
		@include vendor(transform, translateY(60px) rotateX(40deg));
		opacity: 0;
	}
	to {
		@include vendor(transform, translateY(0px) rotateX(0deg));
		opacity: 1;
	}
}

/* @end */