
<fieldset class="form__set form__set_main form__set_paper">
	<legend class="form__set-legend form__set-legend_main">
		<span>Розділ V. Відомості про вклади у банках, цінні папери та інші активи</span>
	</legend>

	<table class="table">
		<colgroup>
			<col />
			<col />
			<col />
			<col />
			<col width="30" />
		</colgroup>
		<caption>
			А. Вклади у банках, цінні папери та інші активи, що перебувають у власності декларанта (грн)
		</caption>
		<thead>
			<tr>
				<th rowspan="2" class="table__cell_bd-r">
					<span class="i-wai">
						№
					</span>
				</th>
				<th>
					Перелік
				</th>
				<th>
					Усього
				</th>
				<th>
					у тому числі за кордоном
				</th>
				<th class="table__cell_bd-l">
					&nbsp;
				</th>
			</tr>
		</thead>
		<tr>
			<td class="table__cell_bd-r table__psdo-th">
				59.
			</td>
			<th class="table__cell_fwn">
				Номінальна власність цінних паперів
			</th>
			<td>
				<input type="text" id="" name="" placeholder="Сума" />
			</td>
			<td>
				<input type="text" id="" name="" placeholder="Сума за кордоном" />
			</td>
			<td class="table__cell_bd-l">
				<span class="btn btn_small btn_fullwidth btn_grey js-clone" title="Добавити строку">+</span>
				<span class="btn btn_small btn_fullwidth btn_grey js-clone-delete" title="Видалити строку">-</span>
			</td>
		</tr>

	</table>

	<table class="table">
		<colgroup>
			<col />
			<col />
			<col />
			<col />
			<col width="30" />
		</colgroup>
		<caption>
			А. Вклади у банках, цінні папери та інші активи, що перебувають у власності членів сім’ї декларанта (грн)
		</caption>

	</table>


</fieldset>

