
<fieldset class="form__set form__set_main form__set_paper">
	<legend class="form__set-legend form__set-legend_main">
		<span>Розділ III Відомості про нерухоме майно</span>
	</legend>

	<table class="table js-clone-wrapper">
		<colgroup>
			<col />
			<col />
			<col />
			<col />
			<col width="100" />
			<col width="100" />
			<col width="30" />
		</colgroup>
		<caption>
			А. Майно, що перебуває у власності, в оренді чи на іншому праві користування декларанта
		</caption>
		<thead>
			<tr>
				<th rowspan="2" class="table__cell_bd-r">
					<span class="i-wai">
						№
					</span>
				</th>
				<th rowspan="2">
					Перелік об’єктів
				</th>
				<th rowspan="2">
					Місце знаходження об’єкта (країна, адреса)
				</th>
				<th rowspan="2">
					Загальна площа (кв. м)
				</th>
				<th colspan="2">
					Сума витрат (грн) на
				</th>
				<th rowspan="2" class="table__cell_bd-l">
					&nbsp;
				</th>
			</tr>
			<tr>
				<th>
					придбання
					у власність
				</th>
				<th>
					оренду чи на інше
					право користування
				</th>
			</tr>
		</thead>
		<tr class="js-toclone">
			<td class="table__cell_bd-r table__psdo-th">
				25.
			</td>
			<th class="table__cell_fwn">
				Квартири
			</th>
			<td>
				<div class="l-form__row">
					<div class="l-form__item">
						<select name="" id="">
							<option value="" selected="">Місце знаходження обїєкта</option>
							<option value="" selected="">Київ</option>
							<option value="" selected="">Вінниця</option>
							<option value="" selected="">Дніпропетровськ</option>
						</select>
					</div>
					<div class="l-form__item">
						<input type="text" id="" name="" placeholder="Коментар" />
					</div>
				</div>
			</td>
			<td>
				<div class="l-form__row">
					<div class="l-form__item">
						<input type="text" id="" name="" placeholder="Площа" />
					</div>
					<div class="l-form__item">
						<select name="" id="">
							<option value="" selected="">м3</option>
							<option value="">га</option>
							<option value="">соток</option>
						</select>
					</div>
				</div>
				<input type="text" id="" name="" placeholder="комнат" />
			</td>
			<td>
				<input type="text" id="" name="" placeholder="Сума витрат (власність)" />
			</td>
			<td>
				<input type="text" id="" name="" placeholder="Сума витрат (оренда)" />
			</td>
			<td class="table__cell_bd-l">
				<span class="btn btn_small btn_fullwidth btn_grey js-clone" title="Добавити строку">+</span>
				<span class="btn btn_small btn_fullwidth btn_grey js-clone-delete" title="Видалити строку">-</span>
			</td>
		</tr>
	</table>

	<table class="table">
		<colgroup>
			<col />
			<col />
			<col />
			<col />
			<col width="200" />
			<col width="30" />
		</colgroup>
		<caption>
			Б. Майно, що перебуває у власності, в оренді чи на іншому праві користування сім’ї декларанта
		</caption>

	</table>


</fieldset>

