
<fieldset class="weiss-form__set weiss-form__set_main weiss-form__set_notes">

	<div class="declaration-action">
		<p class="declaration-action_head">Завантажити декларацію для розшифровки</p>
		<p><a class="js-declaration-pdf" href="{{ link }}" target="_blank">Декларація</a></p>
	</div>

	<legend class="i-wai">
		<span>Загальне про декларацію</span>
	</legend>

	<div class="l-weiss-form__row">
		<div class="l-weiss-form__item">
			<label class="weiss-form__label" for="intro__isnotdeclaration">
				<span>Це не декларація</span>
			</label>
		</div>
		<div class="l-weiss-form__item">
			<input type="checkbox" name="intro[isnotdeclaration]" id="intro__isnotdeclaration" value="1" autofocus="" />
		</div>
	</div>

	<div class="l-weiss-form__row">
		<div class="l-weiss-form__item">
			<label class="weiss-form__label" for="intro__declaration-year">
				<span>Це декларація за рік</span>
			</label>
		</div>
		<div class="l-weiss-form__item">
			<select id="intro__declaration-year" name="intro[declaration_year]" data-inp-act="hidden,unclear">
				<option value="nodata" selected="">Немає даних</option>
				<% (2014).downto(2008) do |i| %>
				<option value=<%= "#{i}" %>><%= "#{i}" %></option>
				<% end %>
			</select>
		</div>
	</div>

</fieldset>

