
<fieldset class="form__set form__set_main form__set_paper">
	<legend class="form__set-legend form__set-legend_main">
		<span>Розділ VI. Відомості про фінансові зобов’язання</span>
	</legend>

	<table class="table">
		<colgroup>
			<col />
			<col />
			<col />
			<col />
		</colgroup>
		<caption>
			А. Фінансові зобов’язання декларанта та інші його витрати (грн)
		</caption>
		<thead>
			<tr>
				<th rowspan="2" class="table__cell_bd-r">
					<span class="i-wai">
						№
					</span>
				</th>
				<th>
					Перелік фінансових зобов’язань
				</th>
				<th>
					Усього
				</th>
				<th>
					у тому числі за кордоном
				</th>
			</tr>
		</thead>
		<tr>
			<td class="table__cell_bd-r table__psdo-th">
				59.
			</td>
			<th class="table__cell_fwn">
				Інші не зазаначені у розділах III-V витрати
			</th>
			<td>
				<div class="l-form__row">
					<input type="text" id="" name="" placeholder="Сума" />
				</div>
				<div class="l-form__row">
					<input type="text" id="" name="" placeholder="Коментар" />
				</div>
			</td>
			<td>
				<div class="l-form__row">
					<input type="text" id="" name="" placeholder="Сума за кордоном" />
				</div>
				<div class="l-form__row">
					<input type="text" id="" name="" placeholder="Коментар" />
				</div>
			</td>
		</tr>

	</table>

	<table class="table">
		<colgroup>
			<col />
			<col />
			<col />
			<col />
		</colgroup>
		<caption>
			Б. Фінансові зобов’язання членів сім’ї декларанта (грн)
		</caption>
		<thead>
		<tr>
			<th rowspan="2" class="table__cell_bd-r">
				<span class="i-wai">
					№
				</span>
			</th>
			<th>
				Перелік фінансових зобов’язань
			</th>
			<th>
				Усього
			</th>
			<th>
				у тому числі за кордоном
			</th>
		</tr>
		</thead>
		<tr>
			<td class="table__cell_bd-r table__psdo-th">
				62.
			</td>
			<th class="table__cell_fwn">
				Інші не зазаначені у розділах III-V витрати
			</th>
			<td>
				<div class="l-form__row">
					<input type="text" id="" name="" placeholder="Сума" />
				</div>
				<div class="l-form__row">
					<input type="text" id="" name="" placeholder="Коментар" />
				</div>
			</td>
			<td>
				<div class="l-form__row">
					<input type="text" id="" name="" placeholder="Сума за кордоном" />
				</div>
				<div class="l-form__row">
					<input type="text" id="" name="" placeholder="Коментар" />
				</div>
			</td>
		</tr>

	</table>


</fieldset>

