
<fieldset class="form__set form__set_main form__set_notes">
	<legend class="i-wai">
		<span>Загалне про декларацію</span>
	</legend>

	<div class="l-form__row">
		<div class="l-form__item">
			<label class="form__label" for="intro__isnotdeclaration">
				<span>Це не декларація</span>
			</label>
		</div>
		<div class="l-form__item">
			<input type="checkbox" name="intro__isnotdeclaration" id="intro__isnotdeclaration" value="1" autofocus="" />
		</div>
	</div>

	<div class="l-form__row">
		<div class="l-form__item">
			<label class="form__label" for="intro__declaration-year">
				<span>Це декларація за рік</span>
			</label>
		</div>
		<div class="l-form__item">
			<select id="intro__declaration-year" name="intro__declaration-year" data-inp-act="hidden,unclear">
				<option value="nodata" selected="">Немає данних</option>
				<option value="2014">2014</option>
				<option value="2013">2013</option>
				<option value="2012">2012</option>
				<option value="2011">2011</option>
				<option value="2010">2010</option>
				<option value="2009">2009</option>
				<option value="2008">2008</option>
				<option value="2007">2007</option>
				<option value="2006">2006</option>
				<option value="2005">2005</option>
				<option value="2004">2004</option>
				<option value="2003">2003</option>
				<option value="2002">2002</option>
				<option value="2001">2001</option>
				<option value="2000">2000</option>
				<option value="1999">1999</option>
				<option value="1998">1998</option>
				<option value="1997">1997</option>
				<option value="1996">1996</option>
				<option value="1995">1995</option>
				<option value="1994">1994</option>
				<option value="1993">1993</option>
				<option value="1992">1992</option>
				<option value="1991">1991</option>
			</select>
		</div>
	</div>

</fieldset>

