
<fieldset class="form__set form__set_main form__set_notes">
	<legend class="i-wai">
		<span>Додаткове про декларацію</span>
	</legend>

	<div class="l-form__row">
		<div class="l-form__item">
			<label class="form__label" for="">
				<span>Дата заповнення декларантом</span>
			</label>
		</div>
		<div class="l-form__item">
			<select name="" id="">
				<option value="">День</option>
			</select>
		</div>
		<div class="l-form__item">
			<select name="" id="">
				<option value="">Месяц</option>
			</select>
		</div>
		<div class="l-form__item">
			<select name="" id="">
				<option value="">Год</option>
			</select>
		</div>
	</div>

	<div class="l-form__row js-related-control">
		<div class="l-form__item">
			<label class="form__label" for="">
				<span>Декларація була не повна</span>
			</label>
		</div>
		<div class="l-form__item">
			<input type="checkbox" />
		</div>
	</div>

	<div class="l-form__row js-related-section">
		<div class="l-form__item">
			<label class="form__label" for="">
				<span>Яких сторінок (паперових) не вистачало</span>
			</label>
		</div>
		<div class="l-form__item">
			<input type="text" />
		</div>
	</div>

	<div class="l-form__row js-related-control">
		<div class="l-form__item">
			<label class="form__label" for="">
				<span>Є додаткова інформація</span>
			</label>
		</div>
		<div class="l-form__item">
			<input type="checkbox" />
		</div>
	</div>

	<div class="js-related-section">
		<div class="l-form__row">
			<label class="form__label" for="">
				<span>Що саме не вмістилось</span>
			</label>
		</div>
		<div class="l-form__row">
			<textarea name="" id="" rows="10"></textarea>
		</div>
	</div>

	<div class="l-form__row l-form__row_submit l-form__row_submit_right">
		<input type="reset" class="btn btn_small btn_grey" value="Стерти усі поля" />
		<input type="submit" class="btn btn_medium btn_blue" value="Отправити форму" title="Отправити форму" />
	</div>

</fieldset>

