
<fieldset class="form__set form__set_main form__set_notes">
	<legend class="i-wai">
		<span>Загалне про декларацію</span>
	</legend>

	<div class="l-form__row">
		<div class="l-form__item">
			<label class="form__label" for="intro__isnotdecloration">
				<span>Це не декларація</span>
			</label>
		</div>
		<div class="l-form__item">
			<input type="checkbox" id="intro__isnotdecloration" name="intro__isnotdecloration" />
		</div>
	</div>

	<div class="l-form__row">
		<div class="l-form__item">
			<label class="form__label" for="intro__decoration-year">
				<span>Це декларація за рік</span>
			</label>
		</div>
		<div class="l-form__item">
			<select id="intro__decoration-year" name="intro__decoration-year">
				<option value="no-data" selected="">Немае данних</option>
				<option value="2014">2014</option>
				<option value="2013">2013</option>
				<option value="2012">2012</option>
				<option value="2011">2011</option>
			</select>
		</div>
	</div>

</fieldset>

