
<fieldset class="weiss-form__set weiss-form__set_main weiss-form__set_notes">
	<legend class="i-wai">
		<span>Додаткове про декларацію</span>
	</legend>

	<fieldset class="l-weiss-form__row js-data-note js-clone-wrapper">
		<legend class="l-weiss-form__item weiss-form__label">
			<span>Дата заповнення декларантом</span>
		</legend>
		<div class="l-weiss-form__item">
			<div class="l-weiss-form__item">
				<select id="declaration__date_day" name="declaration[date_day]" data-inp-act="hidden,unclear">
					<option value="unspecified" selected="" disabled="">День</option>
					<option value="nodata">Немає даних</option>
					<% 31.times do |i| %>
						<option value="<%= i + 1 %>"><%= i + 1 %></option>
					<% end %>
				</select>
			</div>
			<div class="l-weiss-form__item">
				<select id="declaration__date_month" name="declaration[date_month]" data-inp-act="hidden,unclear">
					<option value="unspecified" selected="" disabled="">Місяць</option>
					<option value="nodata">Немає даних</option>
					<option value="01">1 Січень Январь</option>
					<option value="02">2 Лютий Февраль</option>
					<option value="03">3 Березень Март</option>
					<option value="04">4 Квітень Апрель</option>
					<option value="05">5 Травень Май</option>
					<option value="06">6 Червень Июнь</option>
					<option value="07">7 Липень Июль</option>
					<option value="08">8 Серпень Август</option>
					<option value="09">9 Вересень Сентябрь</option>
					<option value="10">10 Жовтень Октябрь</option>
					<option value="11">11 Листопад Ноябрь</option>
					<option value="12">12 Грудень Декабрь</option>
				</select>
			</div>
			<div class="l-weiss-form__item">
				<select id="declaration__date_year" name="declaration[date_year]" data-inp-act="hidden,unclear">
					<option value="unspecified" selected="" disabled="">Рік</option>
					<option value="nodata">Немає даних</option>
					<% (2015).downto(1991) do |i| %>
					<option value=<%= "#{i}" %>><%= "#{i}" %></option>
					<% end %>
				</select>
			</div>
		</div>
	</fieldset>

	<div class="l-weiss-form__row js-related-control">
		<div class="l-weiss-form__item">
			<label class="weiss-form__label" for="declaration__notfull">
				<span>Декларація була не повна</span>
			</label>
		</div>
		<div class="l-weiss-form__item">
			<input type="checkbox" id="declaration__notfull" name="declaration[notfull]" value="1" />
		</div>
	</div>

	<div class="l-weiss-form__row js-related-section">
		<div class="l-weiss-form__item">
			<label class="weiss-form__label" for="declaration__notfull__lostpages">
				<span>Яких сторінок (паперових) не вистачало</span>
			</label>
		</div>
		<div class="l-weiss-form__item">
			<input type="text" id="declaration__notfull__lostpages" name="declaration[notfull_lostpages]" />
		</div>
	</div>

	<div class="l-weiss-form__row js-related-control">
		<div class="l-weiss-form__item">
			<label class="weiss-form__label" for="declaration__additional-info">
				<span>Є додаткова інформація</span>
			</label>
		</div>
		<div class="l-weiss-form__item">
			<input type="checkbox" id="declaration__additional-info" name="declaration[additional_info]" value="1" />
		</div>
	</div>

	<div class="js-related-section">
		<div class="l-weiss-form__row">
			<label class="weiss-form__label" for="declaration__additional-info__text">
				<span>Що саме не вмістилось</span>
			</label>
		</div>
		<div class="l-weiss-form__row">
			<textarea id="declaration__additional-info__text" name="declaration[additional_info_text]" rows="10"></textarea>
		</div>
	</div>
</fieldset>

