
<fieldset class="form__set form__set_main form__set_notes">
	<legend class="i-wai">
		<span>Додаткове про декларацію</span>
	</legend>

	<fieldset class="l-form__row js-data-note js-clone-wrapper">
		<legend class="l-form__item form__label">
			<span>Дата заповнення декларантом</span>
		</legend>
		<div class="l-form__item">
			<div class="l-form__item">
				<select name="declaration__date_day" id="declaration__date_day" data-inp-act="hidden,unclear">
					<option value="unspecified" selected="">День</option>
					<option value="nodata">Немає данних</option>
					<% 31.times do |num| %>
						<option value="<%= num + 1 %>"><%= num + 1 %></option>
					<% end %>
				</select>
			</div>
			<div class="l-form__item">
				<select name="declaration__date_month" id="declaration__date_month" data-inp-act="hidden,unclear">
					<option value="unspecified" selected="">Місяць</option>
					<option value="nodata">Немає данних</option>
					<option value="01">01 Січень Январь</option>
					<option value="02">02 Лютий Февраль</option>
					<option value="03">03 Березень Март</option>
					<option value="04">04 Квітень Апрель</option>
					<option value="05">05 Травень Май</option>
					<option value="06">06 Червень Июнь</option>
					<option value="07">07 Липень Июль</option>
					<option value="08">08 Серпень Август</option>
					<option value="09">09 Вересень Сентябрь</option>
					<option value="10">10 Жовтень Октябрь</option>
					<option value="11">11 Листопад Ноябрь</option>
					<option value="12">12 Грудень Декабрь</option>
				</select>
			</div>
			<div class="l-form__item">
				<select name="declaration__date_year" id="declaration__date_year" data-inp-act="hidden,unclear">
					<option value="unspecified" selected="">Рік</option>
					<option value="nodata">Немає данних</option>
					<option value="2014">2014</option>
					<option value="2013">2013</option>
					<option value="2012">2012</option>
					<option value="2011">2011</option>
					<option value="2010">2010</option>
					<option value="2009">2009</option>
					<option value="2008">2008</option>
					<option value="2007">2007</option>
					<option value="2006">2006</option>
					<option value="2005">2005</option>
					<option value="2004">2004</option>
					<option value="2003">2003</option>
					<option value="2002">2002</option>
					<option value="2001">2001</option>
					<option value="2000">2000</option>
					<option value="1999">1999</option>
					<option value="1998">1998</option>
					<option value="1997">1997</option>
					<option value="1996">1996</option>
					<option value="1995">1995</option>
					<option value="1994">1994</option>
					<option value="1993">1993</option>
					<option value="1992">1992</option>
					<option value="1991">1991</option>
				</select>
			</div>
		</div>
	</fieldset>

	<div class="l-form__row js-related-control">
		<div class="l-form__item">
			<label class="form__label" for="declaration__notfull">
				<span>Декларація була не повна</span>
			</label>
		</div>
		<div class="l-form__item">
			<input type="checkbox" name="declaration__notfull" id="declaration__notfull" />
		</div>
	</div>

	<div class="l-form__row js-related-section">
		<div class="l-form__item">
			<label class="form__label" for="declaration__lostpages">
				<span>Яких сторінок (паперових) не вистачало</span>
			</label>
		</div>
		<div class="l-form__item">
			<input type="text" id="declaration__lostpages" name="declaration__lostpages" />
		</div>
	</div>

	<div class="l-form__row js-related-control">
		<div class="l-form__item">
			<label class="form__label" for="declaration__additional-info">
				<span>Є додаткова інформація</span>
			</label>
		</div>
		<div class="l-form__item">
			<input type="checkbox" id="declaration__additional-info" />
		</div>
	</div>

	<div class="js-related-section">
		<div class="l-form__row">
			<label class="form__label" for="declaration__additional-info__text">
				<span>Що саме не вмістилось</span>
			</label>
		</div>
		<div class="l-form__row">
			<textarea name="declaration__additional-info__text" id="declaration__additional-info__text" rows="10"></textarea>
		</div>
	</div>

	<div class="l-form__row l-form__row_submit l-form__row_submit_right">
		<div class="l-form__item">
			<button class="btn btn_grey btn_small js-section-go" data-section-go="3">Попередній розділ</button>
		</div>
		<!-- to align this on right -->
		<input type="reset" class="btn btn_small btn_grey js-section-go" data-section-go="0" value="Стерти усі поля" />
		<input type="submit" class="btn btn_medium btn_blue" value="Отправити форму" title="Відправити форму" />
	</div>

</fieldset>

