---
layout: "minimal"

title: Declaration form

formSections:
- set__general
- set__income
- set__estate
- set__vehicle
- set__banks
- set__liabilities
- set__outro

---

<section class="declaration-block">
	<h1 class="declaration-head">
		<strong class="declaration-head__em">Декларація</strong>
		про майно, доходи, витрати і зобов’язання фінансового характеру за {{ declaration.intro.declaration_year }} рік
	</h1>

	<% current_page.data.formSections.each_with_index do |section, index| %>
		<div id="section-<%= index %>">
			<%= partial "partials/sections/jinja-render/" + section  %>
		</div>
	<% end %>
</section>
