<button class="weiss-btn weiss-btn_small <%= width %> weiss-btn_grey weiss-btn_clone js-clone" title="Додати строку" tabindex="-1"> + </button>
<button class="weiss-btn weiss-btn_small <%= width %> weiss-btn_grey weiss-btn_clone js-clone-delete" title="Видалити строку" tabindex="-1"> - </button>