<span class="weiss-btn weiss-btn_small <%= width %> weiss-btn_grey js-clone" title="Додати строку" role="button">+</span>
<span class="weiss-btn weiss-btn_small <%= width %> weiss-btn_grey js-clone-delete" title="Видалити строку" role="button">-</span>