<span class="btn btn_small <%= width %> btn_grey js-clone" title="Додати строку" role="button">+</span>
<span class="btn btn_small <%= width %> btn_grey js-clone-delete" title="Видалити строку" role="button">-</span>